<!DOCTYPE html>
<!-- Esta es nuestra primera página html-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>Página principal</h1>
            <p>Los autos que en mi subconsiente llevo todos los dias..</p>
        </aside>
        <section>
            <h2> Las ofertas del día </h2>
            <p>Este es nuestro sitio web de última generación</p>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>
    </body>
</html>
